@model SmlGround.Models.LoginModel
@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
@section customcss {
    <link rel="stylesheet" href="~/Content/regAndLogin.css" />
    <link rel="stylesheet" href="~/Content/profile.css">
}
<div class="card card-1">
    <div class="card-heading">

    </div>
    <div class="card-body">
        <h2 class="title">Авторизация</h2>
        <form action="/Account/Login" method="post" class="form-autoriz">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="Email" name="Email">
            </div>
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="Пароль" name="Password">
            </div>
            <div class="p-t-20">
                <button class="btn btn--radius btn--green" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>