@model SmlGround.Models.RegistrationModel
@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@section customcss {
    <link rel="stylesheet" href="~/Content/regAndLogin.css" />
}
<div class="card card-1">
    <div class="card-heading">

    </div>
    <div class="card-body">
        <h2 class="title">Регистрация</h2>
        <form action="/Account/Register" method="post" class="form-autoriz">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="Email" name="Email">
            </div>
            <div class="row row-space">
                <div class="col-6">
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Name" name="Name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Surname" name="Surname">
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-7">
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Login" name="UserName">
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <input class="input--style-1 js-datepicker" type="text" placeholder="День рождения" name="Birthday">
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="Пароль" name="Password">
            </div>
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="Подтвердите пароль" name="ConfirmPassword">
            </div>
            <div class="p-t-20">
                <button class="btn btn--radius btn--green" type="submit">Зарегистрировать</button>
            </div>
        </form>
    </div>
</div>
