<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infoFile" xsi:type="File" archiveEvery="Day" fileName="${basedir}/Log/${shortdate}-info.txt" layout="${time:format=HH:mm:ss}|${level:padding=5}|${message} ${onexception:inner=${newline}${exception:format=tostring}" />
    <target name="debugFile" xsi:type="File" archiveEvery="Day" fileName="${basedir}/Log/${shortdate}-debug.txt" layout="${time:format=HH:mm:ss}|${level:padding=5}|${message} ${onexception:inner=${newline}${exception:format=tostring}" />
    <target name="errorsFile" xsi:type="File" archiveEvery="Day" fileName="${basedir}/Log/${shortdate}-error.txt" layout="${time:format=HH:mm:ss}|${level:padding=5}|${message} ${onexception:inner=${newline}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" levels="Info" writeTo="infoFile" />
    <logger name="*" levels="Error,Fatal" writeTo="errorsFile" />
    <logger name="*" levels="Debug,Trace" writeTo="debugFile" />
  </rules>
</nlog>
